img {
    display: block;
    width: 50%;
    min-height: 100px;
    margin: 50px 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.argentina {
    margin-bottom: 100px;
}