.clearfix {
    overflow: auto;
}

.cursor {
margin: 80px;
padding: 0%;
border: 0px;
}


.flex-container {
    flex-direction: column-reverse;
}

img{
    display: block;
    width: 60%;
    min-height: 100px;
}
  
.img-mosaic {
    float: right;
}

.mosaic {
    position: relative;
    bottom: 40px;
}

.page-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    color: black;
    
}










.some-page-wrapper {
    margin: 80px;
}
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px;
  }
  
  .column {
    /* display: flex; */
    /* flex-direction: column;
    flex-basis: 10%;
    flex: 1; */
    margin: 20px;
}
  
  /* .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
} */
.destinations {
    color: #111;
    text-decoration: none;
    text-align: center;
}

a.destinations:hover {
    color: rgba(0, 255, 255, 0.432);
}



  
  

