body {
  margin: 0;
  background-color: #c5ebc3;
}

.page-header {
  text-align: center;
  color: #54414e;
  padding: 40px 20px;
  margin: 50px 30px;
}




.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a790a5;
  color: #54414e;
  text-align: center;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color:rgb(0, 255, 255);
  
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #54414e;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}














ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a790a5;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #875c74;
}





